<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ronny Rook - Javascript Developer</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="My name is Ronny Rook; a Javascript developer living in Amsterdam. Working as freelancer and at Label A.">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#9991bc">
    <meta name="msapplication-TileColor" content="#9991bc">
    <meta name="theme-color" content="#ffffff">
  </head>
  <body>
    <div id="app"></div>
    <div id="modal"></div>
    <%= process.env.NODE_ENV === 'production' ? require('html-loader!./static/ga.html') : '' %>
  </body>
</html>
